<p>Total SORNs: <%= @total_sorns %></p>
<p>SORNs without XML_URLs: <%= @no_xml_url %></p>

  <div class="grid-row">
    <h2>Agencies:</h2>
    <ul>
    <% @agencies.each do |agency| %>
      <li><%= agency.name %>: <%= agency.sorns.count %></li>
    <% end %>
    </ul>
  </div>



</div>
