<p>Total SORNs: <%= @total_sorns %></p>
<p>SORNs without XML_URLs: <%= @no_xml_url %></p>

<table>
    <tr><th>Agency</th><th>SORN count</th></tr>
<% @agency_sorn_counts.each do |agency, count| %>
    
    <tr><td><%= agency %></td><td><%= count %></p></td></tr>
    
<% end %>

</table>
