<div class="usa-form-group">
  <label class="usa-label" id="starting-date-label" for="starting-date">Starting date</label>
  <div class="usa-hint" id="starting-date-hint">mm/dd/yyyy</div>
  <div class="usa-date-picker">
    <input
      class="usa-input"
      id="starting-date"
      name="starting-date"
      type="text"
      aria-describedby="starting-date-label starting-date-hint"
    >
  </div>

  <label class="usa-label" id="ending-date-label" for="ending-date">Ending date</label>
  <div class="usa-hint" id="ending-date-hint">mm/dd/yyyy</div>
  <div class="usa-date-picker">
    <input
      class="usa-input"
      id="ending-date"
      name="ending-date"
      type="text"
      aria-describedby="ending-date-label ending-date-hint"
    >
  </div>
</div>