<main class="usa-layout-docs__main desktop:grid-col-9 usa-prose usa-layout-docs" id="main-content">
        <h1>About</h1>
        <p>
        We created this dashboard to provide a faster way to find and analyze Privacy Act notices in the <a href="https://www.federalregister.gov/">Federal Register</a>.
        Our tool enables targeted search of System of Records Notices (SORN), which are meant to inform the public about the existence and current state of government IT systems that collect and store personally-identifiable information (PII). 
        </p>
        
        <p>
        We hope that providing an easier and faster way to reference SORNs will give privacy office staff more time for their other important work protecting the public’s privacy.
        </p>

        <p>
        This project is a collaboration between <a href="https://18f.gsa.gov/">18F</a>, <a href="https://10x.gsa.gov/">10x</a> and the <a href="https://www.fpc.gov/">Federal Privacy Council</a>.
        </p>
