/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 $base-color:   #1B1B1B;

 $blue-90:      #122D52; // Theme primary
 $blue-80V:     #112F4E;
 $blue-70:      #005599;
 $blue-50:      #006DB6; // Interactive
 $blue-10V:     #CFE8FF;

 $gray-cool-60: #565c65;
 $gray-cool-30: #A9AEB1;
 $gray-cool-2:  #F7F9FA;
 $gray-cool-5:  #EDEFF0;

 $gold-10v:     #FFE396;


$font-stack: Source Sans Pro Web,Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;

 body {
  background: $gray-cool-2;

  &.pre-search {
    background-image: image-url("PrvOps_SornDash_Landing_02.svg");
    background-repeat: no-repeat;
    background-position: -3em 65%;

    @media screen and (min-width: 64em) {
      background-position: -3em 80%;
    }

  }


 }

 // Header & Navigation
 .beta-banner {
  background-color: $gold-10v;
  color: $blue-90;
  margin: auto 0;
  padding: 0.1rem 0;

  p {
    margin-left: auto;
    margin-right: auto;
  }
 }

 @media (min-width: 64em) {
  .usa-logo {
    margin: 16px 0;
  }
 }

 .usa-logo a {
   color: white;
   font-size: font-size('heading', '2xl');
 }



 .home-intro {
   margin-top: 0;
   background-color: $blue-80V;

   color: #fff;

   @media screen and (min-width: 800px) {
    .site-intro {
      background-image: image-url("home-intro.svg");
      background-repeat: no-repeat;
      background-position: right;
     }
  }

   .site-title {
    margin-bottom: 0;
    font-size: 44px;
    line-height: 55px;
  }

  .sub-title {
    line-height: 1.5;
    color: $gray-cool-2;
    font-size: 20px;

    a {
      text-decoration: none;
      font-weight: 700;
      color: $blue-10V;

    }
  }

 }

 //
 .search-area {
   margin-top: 32px;
   margin-bottom: 32px;

   label {
     color: $blue-80V;
     font-style: normal;
     font-weight: normal;
     font-size: 20px;
   }

   .usa-search--big {
     margin-top: 16px;
   }
 }

 #active-filters {
   background-color: $gray-cool-5;
   margin-bottom: 1em;
   padding: 1em;

   .labels {
     font-size: .85em;
   }

   .apply-filters {
     margin-top: 0.5em;
   }

 }

.active-filter {
  display: inline-block;
  border-radius: 0;
  padding: 0.25em;
  padding-right: 0.5em;
  padding-left: 0.5em;
  margin-bottom: 1em;
  background-color: white;
  margin-right: 0.5em;
  font-size: .85em;
  border: 1px solid #A9AEB1;
  color: #112F4E;

  a {
    margin-left:8px;
  }

  img {
    width: 8px;
    height: auto;
    transform: translateY(5%);
    -webkit-transform: translateY(5%);
    -ms-transform: translateY(5%);
  }

  img:hover {
    transform: scale(1.2);
  }

}

#agency-deselect-all {
  display: block;
  margin-bottom: 16px;
}

#agency-filter-help-text {
  margin-top: 8px;
}

.clear-all {
  color: #d34141 !important;
}

//Sidebar
.usa-layout-docs__sidenav {
  order: 0;
  padding: 0 .5rem 1.5rem;
}

.sidebar h2 {
  padding: 1.25rem 1rem 0rem 1.25rem;
  font-family: $font-stack;
  font-size: 20px;
}

 #section-filters{
  font-size: 16px;
  margin: 24px;
  font-weight:bold;
 }

 .agency-button {
   width: 100px;
   display: inline;
 }

 #sorn-fields input[type='checkbox']{
   border-radius: 0 !important;
 }

 .usa-checkbox {
   margin-top: 1em;
 }

 .usa-nav {
   margin:auto;
 }

/* Note, the next three declerations are currently inactive,
 if we limit the height of the filters again, we'll need to uncomment
*/
 // .sidebar .usa-checkbox {
 //   line-height: 1;
 //   margin-top: .25em;
 // }
 //
 // .sidebar .usa-checkbox__input {
 //   position: relative;
 // }
 //
 // .sidebar .usa-checkbox__label {
 //   margin-top: 0;
 // }

 .sidebar .usa-accordion__heading:not(:first-child) {
  margin-top: 0;
}

 .sidebar .usa-accordion__button:hover {
   background-color: $gray-cool-5;
 }

 .usa-nav__primary > .usa-nav__primary-item > a {
   color: $blue-70;
   font-weight: normal;
   font-size: 18px;
   &:hover {
     color: color('blue-30v');
   }
 }

 // js link styling
 a {
   text-decoration: underline;
 }

 a:hover {
   cursor: pointer;
 }

 .sidebar {
  background: #FFFFFF;

  .usa-accordion__button {
    background-color: #FFFFFF;
    border-top: 1px solid $gray-cool-30;
   }
 }

 #agency-select-label {
   margin-top: 0;
 }

 #csv-download {
   margin-top: 16px;
 }

 #csv-download img {
  vertical-align: middle;
  padding-right: 8px;
 }

 #csv-download a {
  vertical-align: middle;
  text-decoration: none;
 }

 #csv-download .csv-download-link-text {
  text-decoration: underline;
  color: $blue-50
 }

 #search-form {
   width: 100%;

   &.pre-search {
    margin-bottom: 350px;
   }
 }

 .usa-search {
   border: 0;
   padding: 0;
   margin-bottom: 16px;
 }

 .labels {
  font-size: 1.2em;
  padding-bottom: .5em;
  color: $blue-80V;
 }

//  filter badges
#active-sections-filters, #active-agencies-filters, #active-date-filter, .active-filter, .apply-filters {
  display: none;
}

 // Pagination

 .pagination {
   float: right;
 }

 .pagination .page, .prev {
   display: inline-block;
   margin-right: 11px;
   line-height: 1.15; // Magic number
 }

 .page.current {
   color: $blue-90;
   border-bottom: 2px solid $blue-90;
   font-weight: bold;
 }

 .page a, .prev a, .next a {
   color: $blue-50;
   text-decoration: none;
 }




 // Cards

 .usa-card {
   min-width: 100%;
  }

.usa-card__container {
    border-radius: 0rem;
    border: 1px solid $blue-90;
    font-size: size('public-sans', 16)
 }

 .usa-card__body {
  padding: 16px;

  .mention-citation {
    color: $blue-50;
  }

  hr {
    border-top: 1px solid $gray-cool-30;
  }

 }

 .usa-card__body .grid-row {
   padding-bottom: 16px;
 }

 .usa-card__header {
  padding: 16px;

  background: $blue-80V;
  color: $gray-cool-2;
 }

 .system-number {

  font-family: family('Public sans');

  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  /* identical to box height */

  text-transform: uppercase;
  letter-spacing: .04em;

  margin-bottom: 8px;
  display: block;
 }

 .system-name {
  font-family: $font-stack;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  /* or 140% */

 }

 .sorn-attribute-header {
  color: $blue-90;
  font-weight: bold;
 }

 .agency-separator {
   padding: 0 0.5rem;
   font-weight: bold;
 }

 .pub-details {
   div:first-of-type {
    padding-bottom: 16px;

    @media screen and (min-width: 640px) {
      padding-bottom: 0;
    }
   }
 }


 .sorn-history__list {
   list-style-position: inside;
   padding-left: 0;
 }

 .sorn-history__content {
   margin-left: -0.5em;
 }

 .sorn-history__seperator {
   margin: 0 0.5em;
   font-weight: bold;
 }

 .found-in {
  color: $gray-cool-60;
  font-size: .85em;
  letter-spacing: .04em;
  margin: 0 0 1em;
  width: 100%;
 }

 .found-section-title {
   font-size: 14px;
   width: 100%;
 }

 .found-section-snippet {
  font-size: 16px;
  width: 100%;
  margin-top: 0px;

  p:first-child {
    margin-top: 0px;
  }

  p:last-child {
    margin-bottom: 0px;
  }

 }

.usa-card__body .grid-row:last-of-type {
  padding-bottom: 0;
}

 .usa-card__footer {
  padding: 8px 16px 16px;
 }

 .usa-layout-docs__main .usa-link, .usa-layout-docs__main .usa-link--external {
   text-decoration: none;
   color: $blue-50;
 }

 #search-result-counter {
   color: $blue-90;
 }

 .usa-checkbox__label::before {
   border-radius: 2px;
 }

 .usa-search {
   display: flex;
 }

 #general-search {
   max-width: 100%;
 }

 #general-search-buttoni, .apply-filters {
   background-color: $blue-50;
   &:hover {
     background-color: $blue-70;
   }
   &:active {
     background-color: $blue-80V
   }
 }

 .usa-list li {
   margin-bottom: .5em;
 }

// About page
.usa-intro {
  font-family: $font-stack;
  color: $blue-90;
  font-size: 1.25em;
  line-height: 1.5;
  margin-top:0;
  padding-left: .5em;
}

.info__container {
  h1, h2 ,h3 {
  color: $blue-90;
  }

  h2 {
    border-top: 2px solid $blue-90;
    margin-top: 1.5em;
    padding-top: .25em;
  }

  h3 {
    margin: 1em 0 0;
  }

  h4 {
    color: $gray-cool-60;
    letter-spacing: .04em;
    margin-bottom: 0;
  }

  p {
    margin: .5em 0 1em;
  }

  li {
    margin-bottom: .5em;
  }
}
